*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url('https://w0.peakpx.com/wallpaper/310/987/HD-wallpaper-pixel-aesthetic-384x2160-pixel.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #fefefe;
}

h1 {
    margin-bottom: 1.25rem;
}

h2 {
    margin-bottom: .75rem;
}

li {
    list-style: none;
    display:flex;
    width: 100%;
}

main {
    margin-bottom: 2rem;
}

.toDoInput{
    padding: .5rem;
    
    border-radius: .5rem;
    border: none;
    
    width: 550px;
    height: 24px;

    background-color: rgba(245, 245, 245,.8);
}

.checkbox {
    appearance: none; /* fjerner browserens default stil */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */

    margin-right: .5rem;

    border-radius: .25rem;
    border: none;
    background-color: rgba(245, 245, 245,.8);

    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.checkbox:checked {
    background-color: rgb(111, 212, 111);
    border-color: green;
}

.checkbox:checked::after {
  content: "✔";
  color: rgb(59, 82, 59);
  font-size: 1rem;
  display: block;
  text-align: center;
}


.toDoList, .doneList, .totallyDoneItems {
    width: 600px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: dashed .25rem rgb(33, 33, 33);
    border-radius: 1rem;
    background-color: rgba(25,25,25, .5);
    backdrop-filter: blur(24px);
}
