*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url('https://w0.peakpx.com/wallpaper/310/987/HD-wallpaper-pixel-aesthetic-384x2160-pixel.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #fefefe;
}

h1 {
    margin-bottom: 1.25rem;
}

h2 {
    margin-bottom: 1.5rem;
}

li {
    list-style: none;
    display:flex;
    width: 100%;
}

main {
    margin-bottom: 2rem;
}

input {
    margin-bottom: 1.75rem;
    padding: 0;

    border: none;
    border-bottom: solid rgba(30,30,30, .5) 1px;

    width: 550px;
    height: 24px;
}

.toDoInput{
    width: 100%;

    background-color: rgba(245, 245, 245,.9);
}

.checkbox {
    margin-right: .5rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.toDoList, .doneList, .totallyDoneItems {
    width: 600px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: dashed .25rem rgb(33, 33, 33);
    border-radius: 1rem;
    background-color: rgba(25,25,25, .5);
    backdrop-filter: blur(24px);
}
